body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel-item {
    height: 375px;
}

.blog-card {
    padding: 0 10px;
}

.profile-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.profile-card span {
    font-size: 14px;
}

.card-description {
    color: #343434;
    text-align: start;
}

.category-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
}

.category-list > div {
    margin: 5px;
}

.category-list > div > span:hover {
    background-color: #eeeeee;
    transition: 0.3s ease;

}

.category-list > div > span:hover a {
    color: #000 !important;
    transition: 0.3s ease;
}

.blog--user-img img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.statistic-card span{
    margin-left: 10px;
}